.modal {
  &-content {
    position: absolute;
    width: 100vh;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    opacity: 0.9;
    border-radius: 10px;
    border: 4px solid @borderColor;
    z-index: @modalIndex;
    visibility: inherit;
  }
  &-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: 0.2;
    visibility: inherit;
  }
  // INVENTORY
  &-inventory {
    &-wrapper {
      color: @message-color;
    }
    &-group {
      &-header {
        text-transform: uppercase;
        text-align: center;
        font-size: 19px;
        letter-spacing: 4px;
      }
      &-list {
        list-style-type: none;
      }
      &-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span {
          padding-left: 10px;
        }
      }
    }
  }
}